:root {
    --color-prim: #242323;
    --color-sec: rgb(200, 200, 200);
    --shadow: 0 0 10px rgb(0,0,0); 
    /* main font size = mf */
    /* secondary fon size = sf */
    --mf: 3rem;
    --sf: 2rem;
    /* background color = bg-l */
    --bg-d: rgba(24, 24, 24, 0.8);
    --bg-l: rgba(79, 79, 79, 0.8);
}