@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 10px;

}

:root{
    --primary-color: #0a5a66;
    --dark-color: #22202d;
    --light-color: #f4f4f4;
    --danger-color: #d30d2d;
    --success-color: #2aaa64;
    --shadow: 0 5px 14px rgb(0, 0, 0, 0.7);
}

#login{
    color: #fff;
    padding: 5px;;
    background-color: #bb233f;
    width: 280px;
    margin: 0 auto;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    border-radius:15px;
    box-shadow: var(--shadow)
}
h1{
    text-align: center;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color);
}
h2{
    text-align: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-color);
}
h1:hover{
    box-shadow: var(--shadow);
}

div{
    padding: 5px;
}
.logi,
label{
    color: black;
}

[value="log in"]{
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--dark-color);
    /*box-shadow: var(--shadow)*/
}
input[type="submit"]{
    padding: 10px auto;
    background: rgb(135, 105, 66);
    border-radius: 5px;
    margin: 10px auto;
}
.btn:hover{
    box-shadow: var(--shadow);
    background: var(--success-color);
}

.btn-login{
    display: flex;
}
.email:hover,.password:hover{
    background-color: var(--dark-color);
}

/* focus */

input:focus {
    background-color: var(--dark-color);
    color: var(--light-color);
}