@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color: #58a1ac;
    --dark-color: #22202d;
    --light-color: #f4f4f4;
    --danger-color: #d30d2d;
    --success-color: #2aaa64;
    --shadow: 0 5px 14px rgb(0, 0, 0, 0.7);
}

#f1{
    border: 1px solid var(--light-color);
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--dark-color);
    box-shadow: var(--shadow);
    z-index: 2;
}

h1{
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
    background: var(--primary-color);
    color: var(--dark-color);
}

h2{
    padding: 1em;
    text-align: center;
    font-size: 2em;
}

input[type="submit"] {
    padding: 10px 30px;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--light-color);
    color: var(--dark-color);
    border-radius: 10px;
    margin: 10px auto;
}

/*input[type="submit"]:hover {
    background-color: var(--success-color);
    box-shadow: var(--shadow);
}*/



div {
    padding: 0.5em;
    font-weight: 800;
}

.radio label {
    padding: 5px;
}
.tc {
    text-decoration: none;
    text-align: center;
}
input:hover {
    background-color: var(--dark-color);
}

.tc:hover {
    color: var(--success-color);
}

.btn-submit{
    display: flex;
}
/* focus */

input:focus {
    background-color: var(--dark-color);
    color: var(--light-color);
}
